body{
    background-color: rgba(156, 192, 202, 0.685);
    height: 800px;
    width: 900px;
    display: block;
    margin-left: auto;
    margin-right: auto;
	font-family: monospace;
}

.grid-container{
    position: relative;
    height: 601px;
    width: 600px;
    top: 10%;
    border-style: solid;
    border-width: 2px;
    border-radius: 3px;
    border-color: black;
    display: flex;
    flex-flow: column wrap;
    margin-left: auto;
    margin-right: auto;
    padding: 0px;
}

.square{
    position: relative;
}

.flex-container{
    position: relative;
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
    top: 40px;
}

h1 {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0px;
	margin-top: 0px;
	width: max-content;
}